

.main-schedule {
    width: 1200px;
    margin: auto;
    min-height: 600px;
    background-color: var(--background-2);
    border-radius: var(--standard-radius);
    padding: 10px;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.main-schedule table {
    width: calc(100% - 100px);
    height: 100%;
    border-collapse: collapse;
    margin-left: auto;
}

.gantt-chart {
    width: 100%;
}

.gantt-weeks {
    display: flex;
    width: calc(100% - 75px);
    margin-left: 100px;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    position: relative;
}

.gantt-weeks::after {
    content: '';
    position: absolute;
    width: 91%;
    height: 1px;
    background-color: var(--border-1);
    top: 50px;

}


.gantt-bars {
    position: relative;
}



.main-schedule thead {
    font-size: 18px;
}

.schedule-subjects-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gantt-bar {
    height: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.gantt-bar .bar-section {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1)
}


.gantt-bar .green-bar {
    background-color: rgb(116, 234, 116);
    border-top-left-radius: var(--standard-radius);
    border-bottom-left-radius: var(--standard-radius);

}
.gantt-bar .yellow-bar {
    background-color: rgb(244, 255, 118);
}
.gantt-bar .red-bar {
    background-color: rgb(204, 106, 106);
}
.gantt-bar .extreme-bar {
    background-color: grey;
    border-top-right-radius: var(--standard-radius);
    border-bottom-right-radius: var(--standard-radius);
    display: flex;
    align-items: center;
    justify-content: center
}

.course-schedule-container {
    width: 100%;
    display: flex;
}

.course-schedule-container .track-container {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;;
}

.course-schedule-container .track-container .track {
    background-color: var(--background-3);
    width: 100%;
    height: 65px;
    border-radius: var(--standard-radius);
    position: relative;
    display: flex;
    align-items: center;
}

.schedule-prompt-text {
    width: 500px
}

.dashboard-page {
    width: 1100px;
    margin: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.dashboard-page-top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 130px);
}

.cooked-o-meter {
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
}

.cooked-o-meter span {
    font-size: 22px;
    margin-top: -20px;
}

.dashboard-page .second-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dashboard-page .second-row h2 {
 margin: 0;
}

.cooked-label {
    font-size: 14px;
}


@keyframes rotate-back-and-forth {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.extreme-bar img {
    width: 60px;
    animation: rotate-back-and-forth 2s ease-in-out infinite;
}

.dasboard-form {
    width: calc(100% + 140px);
    border-radius: var(--standard-radius);
    background-color: var(--background-2);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

