.assignment-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    max-width: 1100px;
    margin: auto;
    gap: 20px;
  }
  
  .assignment-page .top-row,
  .assignment-page .second-row,
  .assignment-page .bottom-row {
    display: flex;
    gap: 20px;
  }
  
  .assignment-page .top-left {
    flex: 2;
    height: 40px;
    
  }
  
  .assignment-page .top-right {
    flex: 1;
    height: 80px;
    font-size: 18px;
    margin-top: 20px;
    
  }
  
  .assignment-page .mid-left {
    flex: 2;
    height: 160px;
    
  }
  
  .assignment-page .spacer {
    flex: 1;
  }
  
  .assignment-page .full-row {
    height: 490px;
    
  }
  
  .assignment-page .bottom-left {
    flex: 1.9;
    height: 200px;
    
  }
  
  .assignment-page .bottom-right {
    flex: 1.4;
    height: 200px;
    
  }

  .assignment-page .description {
    text-align: justify
  }

.assignment-page .mid-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assignment-page .bottom-left .MuiPaper-root {
    padding: 0;
    margin: 20px 0;
}

.assignment-page .css-1pedu2u-MuiResponsiveChart-container {
    position: absolute;
    top: 100px;
}