* {
  font-family: "Figtree";
  color: var(--text-1);
  box-sizing: border-box;
}

:root, html, body {
  padding: 0;
  margin: 0;
}

:root {
  --background-1: #181719;
  --background-2: #212023;
  --background-3: #272629;
  --text-1: white;
  --color-primary-1: rgb(16, 165, 98);
  --standard-shadow: 3px 3px 5px rgba(0,0,0,1);
  --standard-radius: 10px;
  --color-primary-gradient-start: rgb(45, 255, 160);
  --color-primary-gradient-end: rgb(72, 255, 212);
}

body {
  background-color: var(--background-1)
}

a {
  text-decoration: none;
}

main {
  padding: 20px;
  gap: 30px;
  min-height: calc(100vh - 80px);
}

.standard-section {
  border-radius: var(--standard-radius);
  padding: 10px;
  background-color: var(--background-2);
}